{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td>{{item["title"]}}</td>
        <td>{{item["status"]}}</td>
        <td>{% if item["status"] != right_list%} <a href="{{url_for('update', id = item['id'])}}">Update</a>{%endif%}</td>
        <td><a href="{{url_for('delete', id = item['id'])}}">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
  <form action="{{url_for('Add')}}" method="POST" class="form-example">
    <div class="form-example">
      <label for="title">Enter New To-do Item: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Enter">
    </div>
  </form>
{% endblock %}